@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Poppins:ital,wght@0,600;0,700;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanuman&family=IM+Fell+Double+Pica+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Inter:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+Double+Pica+SC&family=Inter:wght@100;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,700;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*====================Inicio====================*/
.Section-1-bg{
    background-image: url(../Imagens/plano_fundo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

aside{
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    overflow: hidden;
}

.icon-menu img{
    width: 45px;
    height: 45px;
    margin-right: 15px;
    margin-top: 15px;

}

#barra-menu{
    background: #818c9a;
    height: 100vh;
    width: 0px;
    transition: 0.3s all;
}

#barra-menu ul li{
    list-style: none;
    padding: 15px;
}

#barra-menu ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    width: 100%;
  
}

#barra-menu ul li a:hover{
    border: solid 1px #818c9a;
    padding: 8px;
    border-radius: 15px;
    background: #d1af5b;

}

.C-icon{

    margin-top: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
    overflow: hidden;
   
}

.C-icon span{
    color: #FBF7F7;
    
}

.C-icon span:hover{
    transition: 0.2s;
    transform: 0.5;
    color: #d1af5b;
}

.main-title{
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin-left: 15%;
   flex-wrap: wrap;  
 
}

.main-title h1{
    font-size: 70px;
    color: #041f3f;
    margin-top: 15%;
    font-family: "Poppins";
    font-weight: bold;
    letter-spacing: 2px;
    

}

.main-title h2{
    color: #818c9a;
    font-size: 50px;
    font-family: "Hanuman";
    font-weight: bold;
    letter-spacing: 2px;
}

#pro{
    position: absolute;
    top: 530px;
    left: 350px;
    gap: 50px;
    overflow: hidden;
}

#pro img{
    height: 50px;
    border-radius: 50%;
}

@media only screen and (max-width: 414px)  {

    /*====================Inicio====================*/

    .main-title h1{
        font-size: 35px;
        margin-top: 50%;
        margin-right: 15%;
        
    }

    .main-title h2{
        font-size: 20px;
        margin-right: 15%;
    }
    
    .main-title h4{
        top: 80%;
    }

    .main-title button{
        width: 150px;
    }

    #pro{
        top: 80%;
        left: 20%;
    }

    #pro img{
        height:40px;
    }

}

/*====================SOBRE A CHAPA====================*/

.Con-sobre{
    display: flex;
    justify-content: space-around;
    padding: 150px 0px;
    width: 100%;
    flex-wrap: wrap;
    background-color: #e5e5e5;
    
}

.image img{
    width: 400px;
    height: auto;
    box-shadow: 4px 4px 4px #858585;
}

.Sobre-conecta h1{
    text-align: center;
    font-size: 55px;
    font-family: "Inter";
    font-weight: bold;
    color: black
}

.Sobre-conecta span{
    color: #041f3f;
}

.Sobre-conecta p{
    margin-top: 25px;
    font-family: "Inria Sans";

}

.Sobre-conecta button{
    background-color: #041f3f;
    margin-left: 35%;
    margin-top: 30px;
    padding: 10px 50px;
    border: none;
    font-size: 20px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 4px #858585;
    transition-duration: .9s;

}

.Sobre-conecta button:hover{
    color: #041f3f;
    transform: translate(0.9);
    transition: 0.8s;
    background: transparent;
    
}

@media only screen and (max-width: 414px){

    /*================Sobre-Conecta ================*/

    .image img{
        width: 300px;
        height: auto;
    }

    .Sobre-conecta p{
        font-size: 12px;
        width: 350px;
        padding: 15px;
        text-align: justify;
    }

    .Sobre-conecta button{
        margin-top: 50px;
        text-align: center;
    }


}
/*====================SOBRE A CHAPA====================*/

.Caeco-sobre{
    display: flex;
    justify-content: space-around;
    padding: 150px 0px;
    width: 100%;
    flex-wrap: wrap;
    background-color: #818c9a;
    
}


.Sobre-caeco h1{
    text-align: center;
    font-size: 55px;
    font-family: "Inter";
    font-weight: bold;
}

.Sobre-caeco h4{
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: normal;
    font-family: "Inria Sans";
    font-weight: bold;
    color: #041f3f;
}

.Sobre-caeco p{
    margin-top: 25px;
    font-family: "Inria Sans";

}

.Sobre-caeco button{
    background-color: #041f3f;
    margin-left: 35%;
    margin-top: 30px;
    padding: 10px 50px;
    border: none;
    font-size: 20px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 4px #858585;
    transition-duration: .9s;

}

.Sobre-caeco button:hover{
    color: #041f3f;
    transform: translate(0.9);
    transition: 0.8s;
    background: transparent;
    
}

@media only screen and (max-width: 414px){

    /*================Sobre-Conecta ================*/

    .Sobre-caeco p{
        font-size: 12px;
        width: 350px;
        padding: 15px;
        text-align: justify;
    }

    .Sobre-caeco button{
        margin-top: 50px;
        text-align: center;
    }


}

.eco-sobre{
    display: flex;
    justify-content: space-around;
    padding: 150px 0px;
    width: 100%;
    flex-wrap: wrap;
    background-color: rgb(255, 255, 255)
    
}


.Sobre-eco h1{
    text-align: center;
    font-size: 55px;
    font-family: "Inter";
    font-weight: bold;
}


.Sobre-eco span{
    color: #041f3f;
}

.Sobre-eco p{
    margin-top: 25px;
    font-family: "Inria Sans";

}

.Sobre-eco button{
    background-color: #041f3f;
    margin-left: 35%;
    margin-top: 30px;
    padding: 10px 50px;
    border: none;
    font-size: 20px;
    color: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 4px 4px 4px #858585;
    transition-duration: .9s;

}

.Sobre-eco button:hover{
    color: #041f3f;
    transform: translate(0.9);
    transition: 0.8s;
    background: transparent;
    
}

@media only screen and (max-width: 414px){

    /*================Sobre-Conecta ================*/

    .Sobre-eco p{
        font-size: 12px;
        width: 350px;
        padding: 15px;
        text-align: justify;
    }

    .Sobre-eco button{
        margin-top: 50px;
        text-align: center;
    }


}
